body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffeae6;
}
/* CSS */
.light-background {
    background-color: rgb(5, 4, 4); /* Altere para a cor desejada */
    transition: background-color 0.3s ease; /* Efeito de transição suave */
}

.navbar {
    background-color: blueviolet;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: blueviolet;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-menu .nav-link.active:hover {
    color: #fff;
}

.navbar-toggler {
    background-color: blueviolet;
}

.section-title {
    font-family: 'Pacifico', cursive;
}

#sobre-o-restaurante,
#cardapio {
    background-color: #fff;
}

.text-colored {
    color: blueviolet;
}

.nav-menu .nav-link.active,
#fale-conosco button {
    background-color: blueviolet;
    color: #ffeae6;
}

#fale-conosco button:hover {
    background-color: blueviolet;
}

.nav-menu .nav-link:hover {
    color: blueviolet;
}

#mensagem {
    resize: none;
    padding: 40px;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}
